html, body {
  width: 100%;
  overscroll-behavior: none;
  min-height: 100%;
}

/* body::-webkit-scrollbar {
  display: none;
} */

.smooth-text {
  font-size: 14rem;
  font-weight: 600;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: 0;
  color: white;
}

.section-smooth-scroll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  margin: 0 auto;
}

 /* .gallery {
  height: 200vh;
}  */

.img {
  width: 100%;
  height: 700px;
  position: relative;
  background-size: cover;
  z-index: -1;
}


.img:before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  border-right: 1px solid var(--black);
}

.line {
  border-right: 1px solid var(--black);
}





/* Aligning text to img */

.thumb-container {
  position: absolute;
  bottom: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

p.thumb-container:nth-child(1){
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

.thumb-container span:not(:first-child) {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}