<footer style="padding-top: 256px;">
    <section class="flex-col-gap-64">
        <article class=" flex-col-gap-16">
            <p class="display-lg-medium">Have an idea?</p>
            <p class="display-md-regular">Let's talk!</p>
        </article>

        <p class="footerContact"><a href="mailto:pistol.iulian93@gmail.com">pistol.iulian93@gmail.com</a></p>

    </section>

    <section class="footerSocials flex-col-gap-32">
        <article class="flex-row-gap-32">
            <p class="footerContact"><a target="_blank" href="https://twitter.com/pistol_iulian">Twitter</a></p>
            <p class="footerContact"><a target="_blank" href="https://www.linkedin.com/in/iulian-pistol-846741130/">Linkedin</a></p>
            <p class="footerContact"><a target="_blank" href="https://github.com/Nubby93">GitHub</a></p>
        </article>
        <article class="flex-row-gap-32">
            <p class="footerContact"><a target="_blank" href="https://dribbble.com/Amnael">Dribble</a></p>
            <p class="footerContact"><a target="_blank" href="https://www.behance.net/iulian-pistol">Behance</a></p>
        </article>
    </section>

</footer>             