<header class="header animate__animated animate__fadeInDown">
    <h1><a href="../index.html">Jules.</a></h1>
    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
  </header>
  
  
  
  <div class="nav__extra-background"></div>
  <nav class="nav">
      <div class="nav__content">
          <div class="nav__left">
              <div class="nav__socials">
                  <p>Find me on</p>
                  <a class="nav-button" href="#">Twitter</a>
                  <a class="nav-button" href="#">Dribble</a>
                  <a class="nav-button" href="#">Behance</a>
                  <a class="nav-button" href="#">GitHub</a>
              </div>
  
              <div class="nav__email">
                  <p>Get in touch</p>
                  <p class="text-button"><a href="mailto:hi@iulianpistol.com">hi@iulianpistol.com</a></p>
              </div>
          </div>
          <div class="nav__right">
              <div class="nav__links">
                  <p>Menu</p>
                  <a class="large-nav-button" href="#">Home</a>
                  <a class="large-nav-button" href="#">Works</a>
                  <a class="large-nav-button" href="#">About</a>
                  <a class="large-nav-button" href="#">Contact</a>
              </div>
          </div>
      </div>
  </nav>
  <body>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js'></script><script  src="../js/navigation.js"></script>